
  <h1 class="text-center">Email-app</h1>
<header class="d-flex justify-content-between">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" (click)="handleClick($event.target.innerText)" [textContent]="'message'" >Message</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [textContent]="'contact'" (click)="handleClick($event.target.innerText)" >Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [textContent]="'peference'" (click)="handleClick($event.target.innerText)" >Peference</a>
    </li>
  </ul>
  <ul class="nav nav-pills" >
    <li><app-dropdown (sendEvent)="handleEvent($event)"></app-dropdown></li>
    <li class="nav-item">
      <a class="nav-link " href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">New message</a>
    </li>
  </ul>
</header>
<main><router-outlet></router-outlet></main>
<footer></footer>

